* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.justify-content-center {
    justify-content: center !important;
}

/* Title ====================================================================*/

.title-div {
    text-align: center;
    margin-top: 2%;
}

/* Custom Card ====================================================================*/

.card-container {
    display: flex;
    justify-content: center;
}

.card-div {
    width: 30%;
    margin: 2% 1%;
}
.inform-card {
    width: 20%;
}

.form-card {
    width: 100%;
}

.form-card label {
    z-index: 3;
}

.form-button {
    width: 100%;
}

.form-warning {
    opacity: 0.65;
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
}


.result {
    display: inline;
}

.level-blue {
    color: blue;
}
.level-green {
    color: green;
}
.level-yellow {
    color: yellow
}
.level-red {
    color: red;
}
